<body> 
    
    <div class = center>
        <h1 id = vibur >About Us</h1>
    </div>
    <div class = centerPara>
        <p>
            Here at Eventually we are trying to help you build your ultimate todo list, productivity planner, and team project manager. By offering
            tools that allow you to divide your tasks into discrete projects and monitor their progress from your dashboard, you will always have a great 
            idea of how much you have accomplished and how much you still need to get done. 
        </p>
        <p>
            Eventually is an open source project, but was developed and authored in its entirety by me: Eric Boysen. It does however include an auth module
            courtesy of Anthony Nahas on his github repository ngx-auth-firebasui. Thank you to him for his help with this project. Feel free to take a look at our github
            and make a branch or clone of your own if you have any ideas. You can find us at github.com/eboysen/eventuaylly. This project was developed using the 
            Angular web application framework for its front end and Google firestore for its backend. Hope you enjoy!
        </p>
    </div>
</body>