<body> 
    
    <div class = center>
        <h1 id = vibur >{{label}}</h1>
        <div id = circle class = grey>
            <table class = leftSmall width = 90% >
                <tr>
                    <td width="10%"><a routerLink="/about" routerLinkActive="active"><div id = smallCircle class = orange (mouseenter)="LoginEnter()" (mouseleave) = "LoginExit()"></div></a></td>
                    <td width="10%"><a routerLink="/about" routerLinkActive="active"><div id = smallCircle class = orange (mouseenter)="LogOnEnter()" (mouseleave) = "LogOnExit()"></div></a></td>
                    <td width="10%"><a routerLink="/about" routerLinkActive="active"><div id = smallCircle class = orange (mouseenter)="AboutEnter()" (mouseleave) = "AboutExit()"></div></a></td>
                </tr>
            </table>
            
        </div>
    </div>
</body>
